@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.content p {
  text-align: justify;
}

#footer {
  margin-top: 60px;
  font-size: 16px;
  text-align: center;
}

span.wide {
  display: inline-block;
  width: 50px;
}

#video {
  display: none;
}

@media(min-width: 900px) {
  #video {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }

  .content {
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    width: 950px;
  }

  .content p a {
    margin-bottom: 10px;
  }

  .content p a span {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
  }

  #logo {
    float: left;
  }

  #logo img {
    width: 250px;
  }

  #about {
    float: right;
    width: 590px;
  }
  a#cyberpunk span{
    margin-right: 43px;
  }
  a#gwent span{
    margin-right: 38px;
  }
  a#thronebreaker span{
    margin-right: 37px;
  }
  a#dyinglight span{
    margin-right: 0px;
    width: 110px;
  }
  a#greenhell span{
    margin-right: 41px;
  }
  a#torment span{
    margin-right: 22px;
  }
  a#ethan span{
    margin-right: 24px;
  }
  a#hellraid span{
    margin-right: 0px;
    width: 86px;
  }
}

@media(max-width: 899px){
  body {
    background-image:url(images/mobile_bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content p a span {
    display: inline-block;
    vertical-align: middle;
  }

  #logo {
    text-align: center;
    float: left;
    width: 100%;
  }

  #logo img {
    width: 150px;
  }

  #about {
    float: left;
  }

  .content {
    padding: 10px;
  }

  a span {
    width: 120px;
    height: 50px;
    margin: 0px;
  }

  .content p {
    text-align: justify;
  }
}

a {
  display: inline-block;
}

a span {
  background-repeat: no-repeat;
  background-position-y: center;
}

a#cyberpunk span{
  background-image:url(images/RTL-www_assets-Cyberpunk.png);
  width: 137px;
}
a#gwent span{
  background-image:url(images/RTL-www_assets-Gwent.png);
  width: 73px;
}
a#thronebreaker span{
  background-image:url(images/RTL-www_assets-Thronebreaker.png);
  width: 140px;
}
a#dyinglight span{
  background-image:url(images/RTL-www_assets-DyingLight.png);
}
a#greenhell span{
  background-image:url(images/RTL-www_assets-GreenHell.png);
  width: 151px;
}
a#torment span{
  background-image:url(images/RTL-www_assets-Torment.png);
  width: 122px;
}
a#ethan span{
  background-image:url(images/RTL-www_assets-EthanCarter.png);
  width: 120px;
}
a#hellraid span{
  background-image:url(images/RTL-www_assets-Hellraid.png);
}

a#cyberpunk:hover span{
  background-image:url(images/RTL-www_assets-Cyberpunk_color.png);
}
a#gwent:hover span{
  background-image:url(images/RTL-www_assets-Gwent_color.png);
}
a#thronebreaker:hover span{
  background-image:url(images/RTL-www_assets-Thronebreaker_color.png);
}
a#dyinglight:hover span{
  background-image:url(images/RTL-www_assets-DyingLight_color.png);
}
a#greenhell:hover span{
  background-image:url(images/RTL-www_assets-GreenHell_color.png);
}
a#torment:hover span{
  background-image:url(images/RTL-www_assets-Torment_color.png);
}
a#ethan:hover span{
  background-image:url(images/RTL-www_assets-EthanCarter_color.png);
}
a#hellraid:hover span{
  background-image:url(images/RTL-www_assets-Hellraid_color.png);
}
